# Dependencies
node_modules
.DS_Store

# Environment Variables
.env
.env.local
.env.*.local

# Build outputs
dist
build
.next
out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PDF uploads (temporary)
backend/uploads/*
!backend/uploads/.gitkeep
